ipython
langchain
langchain-community
langchain-openai
langchain-anthropic
faiss-cpu
openai
python-dotenv
pypdf
langchain-text-splitters
langchain-chroma
google-search-results
numexpr
tabulate
tavily-python
python-docx
reportlab
langgraph
langfuse
elevenlabs
sounddevice
scipy
streamlit-mic-recorder